.spinner {
  margin: 15px auto;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #00bdd3;
  animation: rotate 2s linear infinite;
  &::before {
    content: '';
    width: calc(48px - 8px);
    height: calc(48px - 8px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 8px solid #f8f8f8;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
  &::after {
    content: '';
    transform: translate(-50%, -50%);
    width: calc(48px - 6px);
    height: calc(48px - 6px);
    border-radius: 50%;
    background: #f8f8f8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px #f8f8f8;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
